.signup-wrapper{
    width: 70%;
    max-width: 450px;
    height: auto;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
}
.title{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.login-side{
    text-align: center;
    font-size: 0.8rem;
}